<header class="navbar navbar-static-top" id="top" role="banner">
    <nav class="navbar navbar-default" style="padding-left: 50px" role="navigation">
        <div class="navbar-header">
            {{#link-to "index" class="navbar-brand"}}
                {{applicationName}}
            {{/link-to}}
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    {{ input type="text" class="form-control" placeholder="your-inbox" valueBinding="inboxId" }}
                    <label>@{{domainName}}</label>
                </div>
                <button class="btn btn-success" {{action "go"}}>
                    Go
                    <i class="glyphicon glyphicon-play"></i>
                </button>
            </form>
        </div>
    </nav>
</header>
<main class="bs-docs-masthead" id="content" role="main">
    {{outlet}}
</main>
