<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{inboxName}}</h3></div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>From</th>
                <th>Time</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
        {{#each}}
            <tr>
                <td>
                    <button type="button" class="btn btn-default glyphicon glyphicon-trash" {{action "deleteEmail" this}}></button>
                </td>
                <td>
                    {{format-date created_at}}
                </td>
                <td>
                    {{sender}}
                </td>
                <td>
                    <a href="#" {{action "showEmail" this}}>
                        {{subject}}
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div class="panel panel-default email-body hide">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>From: </td>
                <td>{{current_sender}}</td>
            </tr>
            <tr>
                <td>Subject: </td>
                <td>{{current_subject}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <pre>
                    {{message}}
                    </pre>
                </td>
            </tr>
        </tbody>
    </table>
</div>
